:root {
  /*==== colors =====*/
  --Moderateviolet: hsl(263, 55%, 52%);

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 18px;
  background-color: #F0F0F0;
  color: #111111;
  font-family: "DM Sans", serif;
}

@media screen {
  body {
    padding-right: 10px !important;
  }
}

a {
  text-decoration: none;
  font-size: 17px;
}

p {
  font-size: 16px;
  /* text-align: justify; */
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


p.ylw-highlight {
  background-color: #FFFBCC;

}

.hero-section .hero-left-section .button_orange,
.features .button_orange,
.unleash-idea-income .button_orange,
.feature .button_orange {
  padding: 15px 60px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 250ms;
  display: inline-flex;
}


.hero-section .hero-left-section .button_orange .fa-solid,
.features .button_orange .fa-solid,
.unleash-idea-income .button_orange .fa-solid,
.feature .button_orange .fa-solid {
  margin-top: 4px;
  margin-left: 4px;
}

.hero-section .hero-left-section .button_orange,
.features .button_orange,
.unleash-idea-income .button_orange,
.feature .button_orange {
  background: #F58F2A;
  color: #ffffff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  box-shadow:
    inset 0 1px 0 0 #5f4022,
    0 1px 0 0 #5f4022,
    0 2px 0 0 #5f4022,
    0 4px 0 0 #5f4022,
    0 5px 0 0 #5f4022,
    0 6px 0 0 #5f4022,
    0 7px 0 0 #5f4022,
    0 7px 8px 0 #5f4022;
}

.hero-section .hero-left-section .button_orange:hover,
.features .button_orange:hover,
.unleash-idea-income .button_orange:hover,
.feature .button_orange:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 #5f4022,
    0 1px 0 0 #5f4022,
    0 1px 0 0 #5f4022,
    0 2px 0 0 #5f4022,
    0 2px 0 0 #5f4022,
    0 3px 0 0 #5f4022,
    0 4px 0 0 #5f4022,
    0 4px 6px 0 #5f4022;
}

/* top header  */
.top-header {
  background: #f58f2a;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 6px;
}

.grab_now_btn {
  transition: all 0.5s;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}

.grab_now_btn:hover {
  transform: scaleX(1.1);
  background-color: #2B0075;
  border: 1px solid #2B0075 !important;
}

/* second header */
.header {
  background-color: #2b0075;
  color: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #5c5c5c;
  height: 85px;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

header .nav-item {
  font-size: 17px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .navbar-collapse {
    background: #2b0075;
  }


}

.SignInUp {
  /* background-color: #F58F2A; */
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 0.3em;
}

.SignInUp:hover {
  color: #fff;
  border: 1px solid #fff;
}

.nav-item a {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.nav-item .nav-link .badge {
  background-color: #F58F2A;
}

.nav-item .dropdown-menu {
  /* display: none; */
  /* position: absolute; */
  left: 0;
  background: #26262f;
  border-bottom: 2px solid #e2dfe8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  --bs-dropdown-padding-y: 0rem !important;
}



.nav-item .dropdown-menu#reviewsDropdown .dropdown-header,
.nav-item .dropdown-menu#serversDropdown .dropdown-header {
  font-size: 20px;
}

.nav-item .dropdown-menu#reviewsDropdown .dropdown-item {
  padding: 10px;
  margin: 20px 0px;
  border-bottom: 1px solid #1a1919;
}

.nav-item .dropdown-menu#serversDropdown .dropdown-item {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #1a1919;
}

.nav-item .dropdown-menu#loginDropdown .dropdown-item {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #1a1919;
}

.nav-item .dropdown-menu#reviewsDropdown .dropdown-item:hover,
.nav-item .dropdown-menu#serversDropdown .dropdown-item:hover,
.nav-item .dropdown-menu#loginDropdown .dropdown-item:hover {
  border: 1px solid #22a340;
  background: #22a340;
  border-bottom: none;
}

.nav-item .dropdown-menu#reviewsDropdown .btn {
  background-color: #F58F2A;
  font-weight: 700;
  color: white;
  border-radius: 0px;
  padding: 8px;
}

.nav-item .dropdown-menu#reviewsDropdown .btn:hover {
  background: #26262f;
  border: 1px solid #fff;
  border-radius: 0px;
}

@media (min-width: 1024px) {
  .nav-item .dropdown-menu#reviewsDropdown {
    width: 800px;
    left: -720px;
  }

}

@media (min-width: 768px) {
  .nav-item .dropdown-menu#serversDropdown {
    width: 243px;
    left: -105px;
  }

}

@media (min-width: 768px) {
  .nav-item .dropdown-menu#loginDropdown {
    width: 243px;
    left: -105px;
  }

}

.navbar-toggler {
  color: #fff;
  border: 1px solid #2B0075;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* index  */
.hero-section {
  background-color: #270069 !important;
  background-image: url(https://googiehost.com/img/GoogieHostBgmin-1.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 60px 0px 40px 0px
}

.hero-left-section p {
  color: #fff;
}

@media(max-width:672px) {
  .hero-section {
    padding: 0px 0px 40px 0px
  }
}

.hero-section .hero-list {
  list-style: none;
  color: #ffffff;
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.hero-section .hero-list li {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
  padding-bottom: 5px;
  flex: 1 1 calc(50% - 10px);
  font-size: 16px;
}

.hero-section .hero-list li::before {
  content: '✔';
  /* Green tick */
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

.hero-section .columns-2 {
  display: flex;
}

.hero-section .hero-left-section .entry-title {
  margin-left: 0px;
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}

.hero-section .hero-left-section h2 {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: #F58F2A;
  line-height: 55px;
}

.hero-section .hero-left-section p {
  font-weight: 400;
  margin-bottom: 40px;
  color: #ffffff;
}



.hero-section .hero-left-section .rated {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: #ffffff;
}


.hero-section .hero-image-section img {
  margin: auto;
  width: 60%;
}



@media (max-width: 700px) {
  .hero-section .hero-left-section .entry-title {
    font-size: 35px;
    margin-top: 50px;
  }
}




/* banner section  */
.banner {
  background-color: #1c2473;
  margin: 50px 0;
  padding: 32px 20px;
  border-radius: 10px;
}

.banner h2 {
  font-size: 21px;
  font-weight: 600;
}

.banner p {
  line-height: 1.7;
}

.banner .heart {
  font-size: 36px;
  color: #ffffff;
  margin-right: 15px;
}

.banner .btn {
  color: #ffd700;
  padding: 13px 28px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease-in-out;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 1em 0.8em;
}

.banner .btn i {
  padding-left: 5px;
}

.banner .btn::after,
.banner .btn::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}


.banner .btn::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ffd700;
  border-right-color: #ffd700;
}

.banner .btn::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #ffd700;
  border-left-color: #ffd700;
}

.banner .btn:hover::after,
.banner .btn:hover::before {
  width: 100%;
  height: 100%;
}




/* Responsive Styles */
@media (max-width: 767px) {
  .banner h2 {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
  }

  .banner p {
    text-align: left;
    padding: 0 10px;
  }

  .banner .btn {
    width: 100%;
    text-align: center;
  }

  .banner .heart {
    display: block;
    text-align: left;
    margin: 0 auto 10px;
  }

  .banner .d-flex {
    flex-direction: column;
    text-align: left;
  }

  .hero-section .hero-left-section .entry-title {
    font-size: 36px;
}

.hero-section .hero-left-section h2 {
  font-size: 36px;
  line-height: 36px;
}
.footer .footer-copy {
  width: 90% !important;
}

.list.styled.large li span {
  font-size: 20px;
}

.cta .card .card-header h6 {
  font-size: 18px;

}
.hero-section .hero-left-section p {
  margin-bottom: 26px;
  font-size: 18px;
}
}

/* Ensures elements stay aligned on larger screens */
@media (min-width: 992px) {
  .banner .row {
    display: flex;
    align-items: center;
  }
}


/* features section */
.features {
  background: linear-gradient(90deg, #11253c 0%, #33215d 69%)
}

.features h2,
.features p {
  color: #fff;
}

.features img {
  width: 128px;
}

.feature .feature-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #000000;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 100%;

}


.feature .feature-icon {
  width: 100%;
  align-items: center;
  padding: .5rem;
  background: #1c2473;
  border-radius: 10px 10px 0 0;

}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.card-text {
  font-size: 17px;
  color: #000000;
}

.features .btn {
  color: #ffd700;
  cursor: pointer;
  font-size: 16px;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 600px) {
  .features .btn {
    margin: 0 1em 2em;
  }
}

.buttom-ffd700 {
  background: darken(red, 1.5%);
  font-weight: 100;

  svg {
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #FFD700;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }

}

.buttom-ffd700:hover {
  background: rgba(red, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

#navbarOffcanvas {
  width: 250px;
  /* Adjust width */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .features h2 {
    font-size: 26px;
    font-weight: bold;
  }


}

/* comparison-table  */
.comparison-table h2 {
  font-size: 40px;
  font-weight: bold;
  width: 75%;
  margin: auto;
}

.comparison-table table thead tr th:nth-child(1) {
  background-color: #fdfdeb;
}

.comparison-table table thead tr th:nth-child(2) {
  background-color: #298b09;
}


.table th {
  background-color: #1c2473;
  color: white;
  text-align: center;
  padding: 12px;
}

.best-free-hosting {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  margin-left: -71px;
  border-radius: 8px 8px 0 0;
}

.check {
  color: green;
  font-size: 18px;
}

.cross {
  color: red;
  font-size: 18px;
}

.comparison-table .text-center.my-3 {
  margin-bottom: -7px !important;
}

.comparison-table table tbody tr td {
  padding: 15px;
  color: #000000;
  font-weight: bold;

}



.comparison-table table tbody tr td:nth-child(1) {
  background-color: #fdfdeb;
  text-align: left;
}

/* cta section  */

.cta {
  background-image: url('https://googiehost.com/depends/form-bg-googihost.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding-bottom: 20 px;
}

.cta .container {
  padding: 50px;
}

.cta .card {
  margin: auto;
}



.cta .card .card-header {
  background-color: #1c2473;
}

.cta .card .card-header h6 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0;
}

.cta .card-body .intro {
  font-size: 1.2em;
}

.list.styled.large {
  list-style: none;
  counter-reset: list-counter;
  padding: 0 40px;
}

.list.styled.large li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 50px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #46464685;
}

.list.styled.large li:nth-child(3) {
  border-bottom: none;
}

.list.styled.large li span {
  font-size: 28px;
  font-weight: 700
}



.list.styled.large li::before {
  content: counter(list-counter);
  position: absolute;
  left: 0;
  top: 5px;
  background-color: #5ba802;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cta .d-flex.justify-content-between a {
  color: #ffffff;

  padding: 10px 55px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

.grp-btn{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;

}

.grp-btn a{
  color: #fff;
  width: fit-content;
  padding: 10px 44px;
  font-size: 16px;
  font-weight: 600;
  margin: auto;
}

.grp-btn a:nth-child(1) {
  background-color: #22a340;

}

.grp-btn a:nth-child(2) {
  background-color: #eb8928;
}

@media(max-width:768px){
  .grp-btn{
  grid-template-columns: repeat(1, 1fr);
  
  }

  .grp-btn a{
    width: -webkit-fill-available;
    padding: 10px 20px;
    text-align: center;
    margin: 10px 13px;
  }

  .cta .container {
    padding: 10px;
}

.list.styled.large {
  padding: 0 10px;
}

.list.styled.large li::before {
  width: 30px;
  height: 30px;
}

.list.styled.large li {
  padding-left: 35px;

}
.banner {
  padding: 10px 8px;
}

.comparison-table h2 {
  font-size: 24px;
  width: 100%;
}

.best-free-hosting {
  margin-left: 18px;
  font-size: 14px;
}

.comparison-table .text-center.my-3 {
  margin-bottom: 8px !important;
}
}

/* block-single  */

.stat-card {
  background-color: #F0F0F0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.stat-value h3 {
  font-size: 20px;
  padding: 15px 10px;
  background: #1d2772;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.stat-text {
  font-size: 1rem;
  color: #000000;
}

/* index */

/* freehosing  */

.pricing-section {
  padding: 50px 0;
}

.pricing-section h2 {
  font-size: 45px;
}

.pricing-section p {
  font-size: 18px;
}

.pricing-card {
  border: 1px solid #e0e0e0;
  border-radius: 26px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pricing-header {
  font-family: "DM Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 14px;
}

.pricing-subheader {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.pricing-button {
  font-size: 1.2rem;
}

.feature-list {
  list-style: none;
  padding: 0;
}

.feature-list li {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.feature-list li i {
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

.row>.col-md-4:nth-child(2) .pricing-card {
  background: linear-gradient(180deg, rgba(166, 106, 255, 0.2) 0%, #FFFFFF 100%);
}

.row>.col-md-4:nth-child(2) .pricing-button {
  background-color: #2B0075;
  border-color: #2B0075;
  color: #ffffff;
}

.pricing-card:nth-child(1) .pricing-button:hover {
  background-color: #2B0075;
  color: white;
  border-color: #2B0075;
}



/* faq section  */

.faq h2 {
  font-size: 36px;
  line-height: 46px;
  color: #000;
}

.faq .accordion {
  border-top: 4px solid #6c45c6;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-item {
  border: none;
  border-bottom: 1px solid #dee2ef;
}

.faq .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-child {
  border: none;
  border-bottom: none;
}

.faq .accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none;
  visibility: visible;
}

.faq .accordion-item h2 button {
  font-size: 20px;
  color: #111111;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 31px;
}

.faq .accordion-item .accordion-body {
  font-size: 18px;
  padding: 0px 31px 8px 31px;
}

.faq .accordion-item .accordion-body p {
  color: #1a1919;
}

.faq .accordion-item .accordion-body p a {
  color:
    rgb(29, 114, 241);
}

/* freeshosting  */
/* cheap vps hosting  */
.offer-container {
  display: flex;
  background: #f8f9fa;
  padding: 0px 30px;
  flex-wrap: wrap;
}

.offer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.offer-logo img:first-child {
  width: 120px;
  margin-bottom: 10px;
}

.offer-content {
  padding: 30px 50px;
}

.offer-content p {
  color: #000000;
}

.offer-button {
  text-align: center;
}

.btn-custom {
  border: 2px dashed #000000;
  background: #e3f2fd;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-custom:hover {
  border: 2px dashed #000000;
  background: #bee2b0;
  padding: 10px 20px;
  font-weight: bold;
}

.badge-success {
  background-color: #5EB939;
  padding: 8px 18px;
  color: white;
  border-radius: 0px 15px 0 0;
}

.badge-warning {
  background-color: #fd7e14;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.offer-content div div {
  border: 1px solid #dee2ef;
  margin-top: 10px;
  border-radius: 0px 0px 15px 15px;
}

.offer-content div h5 {
  padding: 20px;
  background: #E5DAFF;
}

.offer-content div p {
  padding: 20px;
  background-color: #EAEFFF;
  border-radius: 0px 0px 15px 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .offer-container {
    flex-direction: column;
  }

  .offer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }

  .offer-logo img:first-child {
    width: 120px;
    margin-bottom: 10px;
  }

  .offer-logo {
    padding: 20px;
    width: 100%;
  }

  .offer-content,
  .offer-button {
    width: 100%;
    padding: 0px;
    margin: 10px 0;
  }

  .offer-button {
    padding: 20px;
    width: 100%;
  }

  /* Make offer-logo align in a row for mobile */
  .offer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-custom .couponCode {
  display: none;
}

/* message section  */

.container-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.highlight-box {
  border-left: 5px solid #032e58;
  padding: 20px;
  background: #ffffff;
  font-style: italic;
}

.highlight-box p {
  color: #444;
  font-size: 17px;
  font-weight: bold;
}

.cta-button {
  background: #28a745;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.cta-button:hover {
  background: #218838;
  color: white;
}

/* best paid  */
.hosting-card {
  background: white;
  padding: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #6c45c6;
}

.card-img-top {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.hosting-card .rating-table th,
.hosting-card .rating-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.hosting-card .hosting-feature-list li {
  font-size: 13.5px;
}

.hosting-card .hosting-feature-list li::before {
  content: "✔";
  color: green;
  font-weight: bold;
  margin-right: 8px;
}

.hosting-card .hosting-card-cta-button {
  background: #ff6f00;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.hosting-card .hosting-card-cta-button:hover {
  background: #e65100;
}

/* cheap vps hosting  */

/* freewordpresshosting */
.grow-free {
  background: linear-gradient(90deg, #11253c 0%, #33215d 69%) !important;
  position: relative;
}

.grow-free::before {
  background: url(https://googiehost.com/images/f-img.png) !important;
  background-size: 100%;
  width: 90%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.grow-free-block {
  padding: 50px;
}


.grow-free-block .img-container .animated-img {
  transition: transform 0.5s ease-in-out;
}

.grow-free-block .img-container:hover .animated-img {
  transform: rotate(360deg);
}

.grow-free-block .text-container .animated-text {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.grow-free-block .text-container:hover .animated-text {
  transform: translateY(-5px);
}

.grow-free .feature-icon {
  background-color: #22a340;
}

/* freewordpresshosting  */
/* free-hosting-for-student */
.single-block {
  background: linear-gradient(32deg, rgba(61, 0, 166, 1) 0%, rgba(0, 0, 0, 1) 100%);
}


/* free-hosting-for-student */
/* free-landing-page-hosting  */

.unleash-idea-income {
  border-top: 4px solid #6C45C6;
}

/* free-landing-page-hosting  */


/* free domains */
.services-content p {
  font-size: 17px;
}

/* free domains */

/* support */
.knowledge .card-header {
  background-color: #0A5DD5;
  font-size: 3.25vh;
}

.knowledge .card .card-body .list-group-item {
  border: none;
  border-bottom: 1px solid #0A5DD5 !important;
}

.knowledge .card .card-body ul li a {
  font-size: 16px;
}

/* flip card section  */
.flip-card {
  perspective: 1000px;
  color: #fff;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background: linear-gradient(180deg, rgba(124, 64, 214, 0.2) 0%, #6771ce 100%);
  border-radius: 15px;
}

.font-semibold {
  color: #1c2473;
  font-weight: 700;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

.flip-card-front {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.flip-card-back {
  background: rgba(0, 0, 0, 0.8);
  transform: rotateY(180deg);
}

/* footer  */
.footer {
  background-color: #270069 !important;
  background-image: url(https://googiehost.com/img/GoogieHostBgmin-1.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.footer .footer-columns p {
  color: #fff;
}

.footer .footer-copy {
  border-top: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.social-links {
  margin: 20px 0;
}

.social-links a {
  color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #1DA1F2;
  /* Twitter blue */
}

.social-links .facebook {
  background-color: #ffffff;
}

.social-links .instagram {
  background: #ffffff;
}

.social-links .twitter {
  background-color: #ffffff;
  /* Twitter Blue */
}

.social-links .youtube {
  background-color: #ffffff;
}


.footer .footer-copy a {
  border: none;
}

.footer .footer-columns {
  padding-top: 50px;
}


.footer .footer-columns .col-lg-9 .widget .textwidget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-columns .col-lg-9 .widget .textwidget ul li,
.footer .footer-columns .col-lg-9 .widget .textwidget li {
  position: relative;
  font-weight: 400;
  padding-bottom: 0px !important;
  border-bottom: 1px solid #46464685;
  margin-bottom: 4px !important;
}





.footer .footer-columns .col-lg-9 .widget .textwidget li a {
  font-size: 14px;
}

.footer .footer-title {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 14px;
}

.large-title {
  font-size: 36px;
  font-weight: 700;
}

.blink-soft {
  animation: blinker 1.5s linear infinite;
  color: red;
  font-weight: 800;
  font-family: Bungee Spice, sans-serif;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.sale-row {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #F6F6F6;
  border-radius: 10px;
}

.grab-deal-btn {
  border-radius: 30px;
  padding: 15px 30px;
  margin-left: 0px;
  border: 1px solid #3BAE15;
  background-color: #3BAE15;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  width: fit-content;
}

.grab-deal-btn:hover {
  border: 1px solid #F58F2A;
  background-color: #F58F2A;
}

.sale-row .col-md-3:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #0000001A;
  /* Change to your desired border color */
}

.sale-row .col-md-3 {
  position: relative;
  /* Required for absolute positioning of ::after */
}

.check-symbol {
  color: #388E3C;
  margin-right: 6px;
}

.hosting-key-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.feature-opt {
  border: 1px solid #ccc;
  margin: 25px 0px;
  padding: 20px;
}

.best-deal-btn {
  background-color: #ffd700;
  color: #333333;
  width: 66%;
  padding: 18px 28px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

}

.rating-sec {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.star {
  color: #FFE082;

}

.plan-feature-table {
  border: 1px solid #000;
  width: 25%;
  padding: 10px;
}

.plan-feature-table p {
  margin-bottom: 6px;
}

.tech-specification {
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  border-top: 4px solid #6c45c6;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.button_white {
  background-color: #ffffff;
  color: #1e73be;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  padding: 17px 27px;
  text-transform: uppercase;
  transition: 0.3s;
}

.button_white:hover {
  transform: translateX(2px);
}

.quote-box {
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #eee;
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.07));
}

blockquote,
.quote-box {
  background-color: #fff;
  border-left: 1px solid #032e58;
  border-left-width: 7px;
  border-radius: 3px;
  color: #444;
  display: block;
  font-style: italic;
  padding: 27px;
  position: relative;
}

blockquote:before,
.quote-box:before {
  content: "\201C";
  color: #ddd;
  font-family: Georgia, serif;
  font-size: 69px;
  font-weight: bold;
  position: absolute;
  left: 3px;
  top: -15px;
}

.quote-box:after {
  border-width: 27px 27px 0 0;
  border-style: solid;
  border-color: #fff transparent;
  content: '';
  display: block;
  position: absolute;
  bottom: -25px;
  right: 27px;
  width: 0;
}

.service-card {
  padding: 15px 10px;
  border-radius: 10px 10px 0 0;
  padding: 25px 10px;
  background: linear-gradient(45deg, rgba(61, 0, 166, 1) 50%, rgba(0, 0, 0, 1) 100%)
}

.service-card h2 {
  color: #fff;
  font-size: 32px;
}

.service-card p {
  font-size: 21px;
  color: #fff;
  text-align: center;
}

.service-icon {
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 25px 10px;
}

.service-img {
  width: 35%;
}




.end-content-about {
  background-image: radial-gradient(circle at 19% 90%, rgba(190, 190, 190, 0.04) 0, rgba(190, 190, 190, 0.04) 17%, transparent 17%, transparent 100%), radial-gradient(circle at 73% 2%, rgba(78, 78, 78, 0.04) 0, rgba(78, 78, 78, 0.04) 94%, transparent 94%, transparent 100%), radial-gradient(circle at 45% 2%, rgba(18, 18, 18, 0.04) 0, rgba(18, 18, 18, 0.04) 55%, transparent 55%, transparent 100%), radial-gradient(circle at 76% 60%, rgba(110, 110, 110, 0.04) 0, rgba(110, 110, 110, 0.04) 34%, transparent 34%, transparent 100%), radial-gradient(circle at 68% 56%, rgba(246, 246, 246, 0.04) 0, rgba(246, 246, 246, 0.04) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 71% 42%, rgba(156, 156, 156, 0.04) 0, rgba(156, 156, 156, 0.04) 47%, transparent 47%, transparent 100%), radial-gradient(circle at 46% 82%, rgba(247, 247, 247, 0.04) 0, rgba(247, 247, 247, 0.04) 39%, transparent 39%, transparent 100%), radial-gradient(circle at 50% 47%, rgba(209, 209, 209, 0.04) 0, rgba(209, 209, 209, 0.04) 45%, transparent 45%, transparent 100%), linear-gradient(32deg, rgba(61, 0, 166, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
  border-radius: 30px;
  background-position: top;
  margin-bottom: 90px;
  margin-top: 20px;
  padding: 75px 60px;
}

.feature-list1 {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 40px;
  margin: 20px 10px;
}


.feature-list h3 {
  color: #2b1f51;
  font-weight: 700;
  font-size: 25px;
}

@media(max-width:768px) {
  .end-content-about {
    border-radius: 30px;
    margin-bottom: 90px;
    padding: 50px 2px;
  }

  .feature-list {
    border-radius: 10px;
    padding: 25px;
    margin: 8px 10px;
  }

  .feature-list h3 {
    font-size: 20px;
  }
}

.contact-form-sec {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 35px;
}

label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 14px;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 8px;
}

.contact-submit-btn {
  background: #128d2e;
  border: 1px solid #128d2e;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px 27px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}

.contact-submit-btn:hover {
  transform: translateX(2px);
}

.team-page-section .team-block {
  margin-bottom: 60px;
}

.team-block {
  position: relative;
}

.team-block .inner-box {
  position: relative;
  padding: 40px 70px 28px 0px;
  margin-bottom: 24px;
}

.team-block .inner-box:before {
  position: absolute;
  content: '';
  right: 0px;
  top: 0px;
  left: 70px;
  bottom: 0px;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.team-block .inner-box::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 70px;
  bottom: 0px;
  width: 0%;
  border-radius: 10px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  background-image: -ms-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -moz-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -o-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -webkit-linear-gradient(to bottom, #0430ad 0%, #1d2772 100%);
  background-image: linear-gradient(to bottom, #0430ad 0%, #1d2772 100%);
}

.team-block .inner-box:hover::after {
  width: 81%;
}


.team-block .inner-box .social-icons {
  position: absolute;
  right: 25px;
  top: 100px;
  z-index: 1;
}

.team-block .inner-box .social-icons li {
  position: relative;
  margin-bottom: 20px;
}

.team-page-section .team-block {
  margin-bottom: 60px;
}

.team-block .inner-box .image {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 0.20);
}

.team-block .inner-box .social-icons li a {
  position: relative;
  color: #1d2772;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.team-block .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
}

.team-block .inner-box .lower-content {
  position: relative;
  text-align: left;
  z-index: 1;
  padding: 8px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3 a {
  position: relative;
  color: #1e73be;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation {
  position: relative;
  margin-top: 5px;
  color: #777777;
  font-size: 14px;
}

.team-block .inner-box::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 70px;
  bottom: 0px;
  width: 0%;
  border-radius: 10px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  background-image: -ms-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -moz-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -o-linear-gradient(top, #ffca08 0%, #f70067 100%);
  background-image: -webkit-linear-gradient(to bottom, #0430ad 0%, #1d2772 100%);
  background-image: linear-gradient(to bottom, #0430ad 0%, #1d2772 100%);
}


.policy-sec {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 50px;
  background-color: #fff;
}

.policy-list {
  list-style-type: disc;
  padding-left: 24px;
}


.notice-box {
  border: 1px solid;
  padding: 30px;
  background-color: #fff;

}

.notice-btn {
  border: 1px solid;
  color: #000;
  background-color: #fff;
  width: 140px;
  border-radius: 0px !important;
  transition: 0.3s;
}

.notice-btn:hover {
  transform: translateX(2px);
  color: #000;
}


.pure-button-primary {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 5px;
  color: #fff;
  background: #ff8a17;
  transition: 0.2s ease-in;
  box-shadow: 0px 6px 0px #ea7400;
  text-align: center;
  border: 1px solid #ff8a17;
}

.pure-button-primary:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* .nav-pills .notice-btn.active, .nav-pills .show>.notice-btn {
  color: #000;
  background-color: #fff;
} */